In [1]:
import pandas as pd
import numpy as np
import dendropy

In [2]:
def taxon_sample(df, taxon):
    df = pd.read_csv(df)
    grouped = df.dropna(axis=0, subset=[taxon])
    grouped.apply(lambda x: x.sample(n=1))
    grouped = grouped.drop_duplicates(subset=[taxon], keep='first')    
    return grouped

In [3]:
def taxa_file(group_rank, name_column, min_column, max_column, new_taxon_column_name, new_age_column):
    grouped = taxon_sample('../Data/higher_taxa.csv', group_rank)
    new_group = grouped[[name_column, min_column, max_column]]
    tip_age = grouped[[name_column, max_column]]
    tip_age.columns = [new_taxon_column_name, new_age_column]
    tip_age.to_csv("../Data/taxa_sample.tsv", sep='\t', index =False)
    return(new_group)
taxa_file('SubFamily', 'SpecimenName', 'min_yr', 'max_yr', 'taxon', 'age')

                     SpecimenName  min_yr max_yr
0          Acanthognathus poinari   13.82  20.44
1    Acanthostichus hispaniolicus   13.82  20.44
3                Afropone oculata    89.8   93.9
6         Alloiomma changweiensis   15.97  20.44
26        Archimyrmex piatnitzkyi    41.3   47.8
30           Attopsis longipennis  11.608   12.7
45        Bradoponera wunderlichi    33.9    38.
46         Britaneuretus anglicus    33.9    38.
47            Brownimecia clavata    89.8   93.9
80               Canapone dentata    70.6   83.5
87              Casaleia eocenica    40.4   48.6
104     Ceratomyrmex ellenbergeri    93.5   99.6
154         Eulithomyrmex rugosus    33.9   37.2
201              Formicium berryi     38.   41.3
335            Paraponera dieteri   13.82  20.44
402        Pseudomyrmex extinctus    33.9   37.2

In [4]:
def final_ages(taxa_df, morph_df, mol_df, final_df):
    tip_age = pd.read_csv(taxa_df, sep='\t')
    morph_temp = pd.read_csv(morph_df, sep='\t')
    morph_temp = morph_temp[['taxon', 'age']]
    mol_temp = pd.read_csv(mol_df, sep='\t')
    stacked = pd.concat([morph_temp, mol_temp, tip_age])
    final_tip_age = stacked.drop_duplicates('taxon')
    final_tip_age.to_csv(final_df, sep = '\t', index=False)
final_ages("../Data/taxa_sample.tsv", "../Data/taxa_template.tsv", "../Data/Mol/mol_df.tsv", "../Data/final_tip_ages.tsv")

In [5]:
sample = taxa_file('SubFamily', 'SpecimenName', 'min_yr', 'max_yr', 'taxon', 'age')
morph_temp = pd.read_csv("../Data/taxa_template.tsv", sep='\t') 

def foss_int(sample, morph_df):
    morph_slim = morph_df[['taxon', 'min_yr', 'max_yr']]
    morph_slim.columns = ['SpecimenName', 'min_yr', 'max_yr']
    morph_df = morph_slim[morph_slim.min_yr != 0.00]
    stacked = pd.concat([sample, morph_df])
    stacked.columns = ['taxon', 'min', 'max']
    stacked.to_csv("../Data/foss_int.tsv", sep='\t', index =False)

foss_int(sample, morph_temp)